@page
@model GroupMeeting.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Group</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Group.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Group.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Group.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Group.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Group.Owner)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Group.Owner.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Group.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Group.City.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Group.GroupCategories)
        </dt>
        <dd class="col-sm-10">
            @foreach (var item in Model.Group.GroupCategories)
            {
                <span>@item.Category.Name , </span>
            }
        </dd>
        <dt class="col-sm-2">
            Users
        </dt>

        @foreach (var item in Model.Group.GroupUsers)
        {
            <dd class="col-sm-10">
                @item.User.FirstName
            </dd>
        }
    </dl>
</div>
<div>
    @if (Model.userID == Model.Group.OwnerID)
    {
        <a asp-page="./Edit" asp-route-id="@Model.Group.ID">Edit</a> <a>|</a>}
    <a asp-page="./Index">Back to List</a>
</div>
@if (Model.Meetings != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Nazwa spotkania
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Meetings[0].Start_Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Meetings[0].Start_Time)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Meetings)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Start_Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Start_Time)
                    </td>
                    <td>
                        <a asp-page="./Details" asp-route-id="@item.ID">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
