@page
@model GroupMeeting.Pages.Meetings.JoinModel
@{
    ViewData["Title"] = "Join";
}
<h1>Join</h1>

<h3>Are you sure you want to join this meeting?</h3>
<div>
    <h4>Meeting</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <dl class="row">
        <dt class="col-sm-2">
            Group name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.Group.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.Start_Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.Start_Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.Start_Time)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.Start_Time)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Meeting.ID" />
        <input type="submit" value="Join" class="btn btn-success" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
